* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	width: 100vw;
	height: 30vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	color: white;
	margin-bottom: 2rem;
	text-align: center;

	background-color: black;
	/* TODO: collect footage of 3r, aerial view */
}

.header a {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 5px;
	border-radius: 10px;
	margin-top: 20px;
	text-decoration: none;

}

.board-opts input {
	padding: 10px 0 10px 5px;
}

.leaderboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}

tr, td {
	padding: 0 30px 0 30px;
}

.leaderboard button {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background: none;
}